# IDE
.vscode/

# Environment
.env
backend/.env

# Python
.venv/
__pycache__/
*.pyc
db.sqlite3
backend/staticfiles/

# Node
node_modules/
dist/
.vite/

# Misc
*.log
*.docx
.DS_Store
.secrets
.claudeignore
.env.prod
